<%-include('header') %>

<div class="row">
    <div class="col">

      <form method="post">

        <div class="form-group">
            <br>
          <label>Search For Mentors Using Keywords Below:</label>

          <!-- Search form -->
        <input class="form-control" type="text" name='keywords' placeholder="ex: technology, finance, social-good, etc." aria-label="Search">

        </div>

          <div class = "text-center">
              <br>
                   <button type="submit" id="find" class="btn-main">FIND A MENTOR!</button>
          </div>

      </form>

    </div>
  </div>
<%- include('footer') %>