{% if session.logged_in %}

    {% extends "loggedin_layout.html" %}

    {% block content %}

    <form method="post">

        <label for="name">Name </label> <br>
        <input type="text" id="name" name="name"> <br>

        <br>

        <p>*Please note we will not redirect from your old URL to your new one </p>
        <label for="URL"> </label>Profile URL <br>
        <input type="text" id = "URL" name = "URL"> <br>

        <br>


        <label for="header">Header </label><br>
        <input type="text" id="header" name="header"> <br>

        <br>


        <label for="email"> </label>Email <br>
        <input type="email" id = "email" name = "email"> <br>

        <br>

        <script>
                var check = function() {
                  if (document.getElementById('updatePassword').value ==
                    document.getElementById('confirmPassword').value) {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Your passwords match!';
                  }

                  else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Your passwords do not match, please try again';
                  }
                }

            </script>

        <label for = "updatePassword"> </label>Update Password <br>
        <input type="password" name="updatePassword" id = "updatePassword" onkeyup='check();'> <br>

        <p>*Please note password must have 5 characters consisting of only letters and numbers,
            start with a letter and have at least one number </p>

        <br>

        <label for = "confirmpassword"> </label>Confirm Password <br>
        <input type="password" name="confirmPassword" id = "confirmPassword" onkeyup='check();'> <br>


        <div class="text-left"><span id='message'></span></div>

        <br>





        <label for="bio">Bio </label> <br>
        <input type="text" id="bio" name="bio"> <br>

        <br>

        <label for="currentPassword">Enter Current Password</label> <br>

        <input type="password" id="currentPassword" name="currentPassword" required>


         <br>

        <br>



        <button type="submit" class="btn btn-primary btn-lg">Update Info</button>
        <p> {{ message }} </p>


    </form>


    {% endblock %}

{% else %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="1; url='/login" />
  </head>
  <body>
    <p>Redirecting</p>
  </body>
</html>

{% endif %}