<!DOCTYPE html>
<head>
    <title>
        Welcome To Billion Dollar.
    </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    </head>

    <body>
        <div class="container">
            <div class='row first-row'>

                <div class="col-7">
                    <img src="{{url_for('static',filename='images/icon2.png')}}">
                </div>
                <div class="col-5">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{url_for('login')}}" class="poppins-light sz-27 gray-font">Sign In</a></li>
                        <li class="list-inline-item"><a href="{{url_for('register')}}" class="poppins-light sz-27 gray-font">Sign Up</a></li>
                        <li class="list-inline-item"><a href="#" class="poppins-light sz-27 green-text">Learn More</a>
                        </li>
                      </ul>
                </div>        
            </div>

            <div class="row second-row">
                <div class="col-4"><p class="poppins-bold lighter-gray sz-60 keywords-position">Connecting With Mentors Is Easier Than You Think.</p>
                    <p class="description-font-color TitilliumWeb">BDD allows students to connect and receive mentorship from upper year students in their field. 
                        Students can directly message mentors if the mentor has marked themselves available for providing mentorship.</p>

                        <form method="post" action="{{url_for('mentors')}}">
                              <input type="text" class="form-control" name="keywords" placeholder="Enter Keywords (Eg; Engineering, UofT)">
                            <button type="submit" class="btn btn-green white-text">Find Mentors</button>
                          </form>
                    </div>
                
                <div class="col-8">
                    <img src="{{url_for('static',filename='images/illustration.jpg')}}">
                </div>
            </div>
           </div>
    </body>
</html>
