{% extends "layout.html" %}

{% block content %}
          <div class="row">
    <div class="col">

      <form action="/" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <br>
          <label>Search For Mentors Using Keywords Below:</label>

          <!-- Search form -->
        <input class="form-control" type="text" name='keywords' placeholder="ex: technology, finance, social-good, etc." aria-label="Search">

        </div>
<!--              <div class = "text-center">-->
<!--         <form method="post">-->
<!--        <br>-->
<!--        <button type="submit" class = "btn-main">Generate</button>-->
<!--    </form>-->
<!--    </div>-->

          <div class = "text-center">
              <br>
                   <button type="submit" id="find" class="btn-main">FIND A MENTOR!</button>
          </div>

      </form>

    </div>
  </div>

{% endblock %}

