@font-face {
    font-family: "Poppins-Light";
    /* src: url('fonts/Poppins-Light.ttf'); */
    src: url("../static/fonts/Poppins-Light.ttf");

}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../static/fonts/Poppins-Bold.ttf");

}

@font-face {
    font-family: "TitilliumWeb-Light";
    src: url('fonts/TitilliumWeb-Light.ttf');
    src: url("fonts/TitilliumWeb-Light.ttf");

}

.TitilliumWeb {
    font-family: 'TitilliumWeb-Light',
}

.poppins-light {
    font-family: 'Poppins-Light';
    font-weight: bold;
}

.poppins-bold {
    font-family: 'Poppins-Bold';
}
.first-row {
    padding-top: 3%;
}

.sz-27 {
    font-size: 17px;
}

.gray-font {
    color: #8f9aac;
}

.btn-green {
    background-color: #01b681;
}

.white-text {
    color: white;
}

.second-row {
    padding-top: 5%;
}


.list-inline-item  {
    padding-right: 3%;
}
.green-text {
    color: #01b681;
}

.lighter-gray {
    color: #576a87;
}

.sz-60 {
    font-size: 40px;
}

.keywords-position {
    padding-top: 5%;
}

.description-font-color {
    color: #343434;
}